.main-chat-icon-container{
    position: absolute;
    bottom: 0;
}

.chat-icon-container{
    position: relative;
    display: inline-block;
}
.chat-icon-container .chat-message-number{
    position: absolute;
    background-color: #85bb65;
    padding: 2px 9px;
    font-size: 1rem;
    z-index: -2;
    right: 17px;
    top: 9px;
    border-radius: 7px;
}
.chat-icon{
    background-color: #E2EDF7;
    color: #213458;
    font-size: 2rem;
    padding: 17px 18px;
    margin: 25px;
    border-radius: 35px;
    cursor: pointer;
}
.chat-container .react-chatbot-kit-chat-container {
    width: 360px;
    height: 100vh;
}
.chat-container .react-chatbot-kit-chat-inner-container {
    height: 100%;
}
.chat-container .react-chatbot-kit-chat-message-container {
    height: 87.5%;
}
.chat-container .react-chatbot-kit-chat-bot-message {
    margin-left: initial;
}